<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nibm201.onlineshop">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineShop">
        <activity android:name=".Profile.ProfileEdit"></activity>
        <activity android:name=".customer.PurchaseItems" />
        <activity android:name=".customer.PaymentSuccesfull" />
        <activity android:name=".customer.Payment" />
        <activity android:name=".customer.BuyNow" />
        <activity android:name=".customer.ViewCart" />
        <activity android:name=".Startup.CreateAccount" />
        <activity android:name=".Startup.ForgotPassword" />
        <activity android:name=".Startup.LoginScreen" />
        <activity android:name=".Startup.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>